{% extends "base.html" %}


{% block content %}
<div style="margin-left: 100px;margin-right: 100px">
    <h1 align="center">Пейзажи Марса</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for id, image in images %}
            {% set cls = "carousel-item" %}
            {% if id == 0 %}
                {% set cls = cls + " active" %}
            {% endif %}
            <div class="{{ cls }}">
                <img src="static/img/{{ image }}" class="d-block w-100" alt="Slide {{ id }}">
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
    <form class="photo_form" action="" method="post" novalidate enctype=multipart/form-data>
    {{ form.hidden_tag() }}
        <p>
            {{ form.file.label }}<br>
            {{ form.file(class="form-control") }}<br>
            {% for error in form.file.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
</div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
{% endblock %}