th {
   background: #cccccc;
   color: black;
   padding-left: 15px;
   padding-right: 15px;
}

h4 {
   color: #808080;
   padding-left: 20px;
}

td {
   background: #e6e6e6;
   color: black;
}